ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

li:hover a {
    color: #FF5733;
}

li:hover ul {
    display: block;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}